@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
@font-face {
  font-family: "Hiragino Sans GB W6";
  src: url("./fonts/3f086dbc376893f56b4a9c4d3cac5df9.eot");
  src: url("./fonts/3f086dbc376893f56b4a9c4d3cac5df9.eot?#iefix") format("embedded-opentype"),
    url("./fonts/3f086dbc376893f56b4a9c4d3cac5df9.ttf") format("truetype"),
    url("./fonts/3f086dbc376893f56b4a9c4d3cac5df9.svg#Hiragino Sans GB W6") format("svg");
}
